body {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: url("./images/morse-code.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.container {
  margin: 20px auto;
  border-radius: 10px;
  width: 20%;
  height: 50vh;
  background-color: white;
}
h1 {
  color: black;
  width: 40%;
  margin: 10px auto;
}
h4 {
  font-size: 20px;
}

button {
  background: #070506;
  color: #edeaf1;
  box-shadow: 10px 5px 1px 0.1px rgba(35, 35, 37, 0.2);
  border-radius: 10px;
  font-size: 15px;
  padding: 10px 10px;
  display: block;
  margin: 10px auto;
}
button:hover {
  cursor: pointer;
}
.input {
  padding: 10px 10px;
  font-size: 15px;
  width: 80%;
}
#morse-word {
  background: #fff;
  color: black;
}
@media screen and (max-width: 1032px) {
  .container {
    width: 40%;
    height: 80vh;
  }
}
@media screen and (max-width: 748px) {
  .container {
    width: 45%;
    height: 70vh;
  }
}
@media screen and (max-width: 516px) {
  .container {
    width: 60%;
    height: 70vh;
  }
}
